### Drone, Argo CD and Gitea Installer(settings)

export DRAG_HOME="/drag-stack"
source_env_if_exists "$DRAG_HOME/.envrc"


## k3s cluster settings
export K3D_CLUSTER_NAME=lingua-greeter
export DOCKER_NETWORK_NAME="${K3D_CLUSTER_NAME}"

## DRAG Overrides
export GITEA_CONFIG_MANIFESTS_PATH=k8s/gitea-config

### END DRAG Installer(settings)

## Application specific settings
export APP_GITOPS_HOME="$PWD"
export KUBECONFIG="$APP_GITOPS_HOME/.kube/config"
export GIT_USER=user-01
export GIT_USER_PASSWORD=user-01@123
export LINGUA_GREETER_GITOPS_REPO="http://gitea-127.0.0.1.sslip.io:30950/${GIT_USER}/lingua-greeter-gitops.git"
export LINGUA_GREETER_GITOPS_REV=main
export LINGUA_GREETER_GIT_REPO="${GITEA_USERNAME}/lingua-greeter"
export LINGUA_GREETER_GIT_REV="main"
export REGISTRY_NAME=nexus.infra.svc.cluster.local
export IMAGE_REGISTRY_USER=admin
export IMAGE_REGISTRY_PASSWORD=admin123
export GOOGLE_APPLICATION_CREDENTIALS="point to your Google Application Credentials file"

source_env_if_exists .envrc.local